// C++ scitokens/scitokens-cpp
article.jwt-c.c.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/26.svg')
    h3 C++
  .panel-wrap(data-content)
    .author-info
      .maintainer
        a(href='https://github.com/scitokens')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | SciTokens Team
        span.stars(data-repo='scitokens/scitokens-cpp', style='display: inline;')
          i.icon-budicon-466
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/scitokens/scitokens-cpp') View Repo

    .panel-footer
      code git clone https://github.com/scitokens/scitokens-cpp.git
