// Java scitokens/scitokens-java
article.jwt-java.java.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/3.svg')
    h3 Java
  .panel-wrap(data-content)
    .author-info
      .maintainer
        a(href='https://github.com/scitokens')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | SciTokens Team
        span.stars(data-repo='scitokens/scitokens-java', style='display: inline;')
          i.icon-budicon-466
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/scitokens/scitokens-java') View Repo

    .panel-footer
      code maven: com.auth0 / java-jwt / 3.0.1
