// Python scitokens/scitokens
article.jwt-python.python.accordion(data-accordion)
  .panel-heading(data-control)
    img(src='/img/4.svg')
    h3 Python
  .panel-wrap(data-content)
    .author-info
      .maintainer
        a(href='https://github.com/scitokens')
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | SciTokens Team
        span.stars(data-repo='scitokens/scitokens', style='display: inline;')
          i.icon-budicon-466
      .repository
        i.icon-1392070209-icon-social-github
        a(href='https://github.com/scitokens/scitokens') View Repo

    .panel-footer
      code pip install scitokens
