extends layout

block content
  nav.navbar.closed
    .container
      .top-mobile
        .menu-trigger
          span

        a.brand(href='/').navbar-brand SciTokens

      nav.menu
        a(href='#debugger-io').scrollto Debugger
        a(href='#libraries-io').scrollto Libraries
        a(href='https://scitokens.org/') Introduction
        a(href='https://community.auth0.com', target='_blank') Ask

      .social
        a.a0(href='https://www.nsf.gov/', target='_blank')
          span.by-text Funded by the NSF

  section.banner-jwt
    .container

      p
        | The&nbsp;
        a(href='https://scitokens.org/', target='_blank') SciTokens
        | &nbsp;project aims to build a federated ecosystem for authorization on distributed scientific computing infrastructures.
      p demo.scitokens.org allows you to decode, verify and generate SciTokens.

      a.btn.btn-lg(href="https://scitokens.org/") Learn more about SciTokens

  script.
    var extensionSection = document.getElementsByClassName("update-site")[0];
    var ebookSection = document.getElementsByClassName("jtw-ebook-banner")[0];
    if (Math.random() >= .5) {
    extensionSection.style.display = 'block';
    } else {
    ebookSection.style.display = 'block';
    }

  section#debugger-io.debugger-jwt
    .container
      //- a(name='debugger')
      h1 Token Generator
      p Use this token generator to create your own sample SciTokens.  Typically this would be done as part of an OAuth2 workflow.
      p Edit the payload of the SciToken on the left.  An encoded and signed SciToken will be generated and displayed on the right.  

      .jwt-playground
        .selections
          .token-type
            span Token
            .hide
              label
                input(type='radio', name='token-type', value='id_token', checked='')
              label
                input(type='radio', name='token-type', value='access_token')
            .jwt-select
              select
                option(name='token-type',value='id_token', selected='') id_token
                option(name='token-type',value='access_token') access_token

        .algorithm-code
          .tab-nav
            .tab-link
              a(href='#decoded-jwt') Decoded
                small edit the payload
            .tab-link.current
              a(href='#encoded-jwt') Encoded
            

          .tab-content
            #decoded-jwt.box-content
              .output
                .jwt-explained.jwt-header
                  p.text-line HEADER:
                    span ALGORITHM & TOKEN TYPE
                  .js-header

                .jwt-explained.jwt-payload
                  p.text-line PAYLOAD:
                    span DATA
                  .js-payload
            #encoded-jwt.box-content.current
              .input.js-input

        .validation-status.js-signature

  section#libraries-io.libraries-jwt
    .container
      .title-header
        //- a(name='libraries')
        h1 Libraries for Token Signing/Verification

        .filter
          span Filter by
          .jwt-select
            select
              // Languages must be in alphabetic order
              option(value='*', selected='') All
              option(value='.java') Java
              option(value='.python') Python

      .libraries-sv(data-accordion-group)
        include libraries/scitokens-python.jade
        include libraries/scitokens-java.jade
        

  section.sources
    .container
      .columns
        .column
          h2 SciTokens Website
          .text-hold
            p https://scitokens.org/
        .column
          h2 Website Source
          .text-hold
            a(href='https://github.com/scitokens/scitokens-heroku', target='_blank')
              i.icon-1392070209-icon-social-github
            p https://github.com/scitokens/scitokens-heroku
        .column
          h2 Forked From
          .text-hold
            a(href='https://github.com/jsonwebtoken/jsonwebtoken.github.io/', target='_blank')
              i.icon-1392070209-icon-social-github
            p https://jwt.io/

